body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container {
    padding: 20px;
    border: 5px solid black;
    width: 450px;
}

h1 {
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
}  

form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

#task-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #333;
}

button {
    padding: 10px 20px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    margin-left: 10px;
    border: none;
}

button:hover {
    background-color: #111;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #ccc;
}

.task-actions {
    align-items: center;
    display: flex;
    gap: 5px;
}

.delete-btn, edit-btn {
    background-color: #dc3545;
    color:#fff;
    border: none;
    padding: 10px;
    margin-left: 5px;
    text-transform: uppercase;
}

.delete-btn:hover, edit-btn:hover {
    background-color: #c82333;
}

.completed {
    text-decoration: line-through;
    color: #6c757d;
}